:root {
    --wit-achtergrond: #FFF8E7;
    --titel-kleur: #4A5D23;

}

body {
    margin: 0em 2em;
    font-family: "clother", sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 12px;
    background-color: var(--wit-achtergrond);
}

header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    margin: 0;
    font-family: "alphabet-soup-pro", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 6em;
    color: var(--titel-kleur);
}

h2 {
    margin: 0;
    color: var(--titel-kleur);
}

img {
   width: 3em;
}