:root {
    --wit-achtergrond: #FFF8E7;
    --titel-kleur: #4A5D23;

}

body {
    margin: 0em 0em 3em 0em;
    font-family: "clother", sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 12px;
    background-color: var(--wit-achtergrond);
}

header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: red 2px solid;
}

button {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
}

/* titel animatie */

h1 {
    margin: 0;
    font-family: "alphabet-soup-pro", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 6em;
    color: var(--titel-kleur);

    animation-timeline: view();
	animation-name: titelOmhoog;
	animation-timing-function: ease-out;
	animation-fill-mode: both;
	animation-range: cover 55% exit 80%;

    position: sticky;
    top: 0;
}

@keyframes titelOmhoog {
    to {
        transform: scale(50%);
        font-weight: 100;
        /* transform-origin: left top; */
    }
}

h2 {
    margin: 0;
    color: var(--titel-kleur);
}

/* gridding van rugzak en objecten */
main {
    display: grid;
    grid-template-columns: repeat(5, 1fr) ;
    grid-template-rows: repeat(6, 0.5fr) repeat(2, 1fr);
    width: 100vw;
    height: 100vh;
    transition: 2s ease;
}

/* om rugzak open/dicht te wisselen */
.hidden {
    visibility: hidden;
}

button:nth-of-type(1), button:nth-of-type(2){
    grid-area: 7 / 2 / 9 / 5;
    width: 100%;
    height: 100%;
}

button:nth-of-type(1) img, button:nth-of-type(2) img {
    height: 40vh;
    width: auto;
}

button:nth-of-type(2) {
    z-index: 2;
    anchor-name: --rugzak;
}

/* OBJECTEN */
/* positie halsband */
main > img:nth-of-type(1){
    width: 10vw;
    grid-area: 5 / 2 / 6 / 3;
    anchor-name: --halsband;
}

/* halsband */
button:nth-of-type(3) img {
    height: 12vh;
    width: auto;
}

/* positie theater */
main > img:nth-of-type(2){
    width: 10vw;
    grid-area: 6 / 4 / 7 / 5;
    anchor-name: --theater;
}

button:nth-of-type(4) img {
    height: 12vh;
    width: auto;
}

/* positie discobal */
main > img:nth-of-type(3){
    width: 10vw;
    grid-area: 4 / 3 / 5 / 4;
    anchor-name: --disco;
}

button:nth-of-type(5) img {
    height: 12vh;
    width: auto;
}

/* positie laptop */
main > img:nth-of-type(4){
    width: 10vw;
    grid-area: 3 / 5 / 4 / 6;
    anchor-name: --laptop;
}

button:nth-of-type(6) img {
    height: 15vh;
    width: auto;
}

/* positie puzzel */
main > img:nth-of-type(5){
    width: 10vw;
    grid-area: 2 / 2 / 3 / 3;
    anchor-name: --puzzel;
}

button:nth-of-type(7) img {
    height: 12vh;
    width: auto;
}

/* anchor positioning */
button[data-class*='object'] {
    position: absolute;
    position-anchor: --rugzak;

    left:anchor(center);
	top:anchor(center);
    translate:-50% -50%;

    z-index: 1;
}

button {
    &[data-done=object1] {
        position-anchor: --halsband;
    }
    &[data-done=object2] {
        position-anchor: --theater;
    }
    &[data-done=object3] {
        position-anchor: --disco;
    }
    &[data-done=object4] {
        position-anchor: --laptop;
    }
    &[data-done=object5] {
        position-anchor: --puzzel;
    }
    
}


