:root {
    --wit-achtergrond: #FFF8E7;
    --titel-kleur: #4A5D23;

}

body {
    margin: 0em 2em 50em 2em;
    font-family: "clother", sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 12px;
    background-color: var(--wit-achtergrond);
}

header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: red 2px solid;
}

h1 {
    margin: 0;
    font-family: "alphabet-soup-pro", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 6em;
    color: var(--titel-kleur);

    animation-timeline: view();
	animation-name: titelOmhoog;
	animation-timing-function: ease-out;
	animation-fill-mode: both;
	animation-range: cover 55% exit 80%;

    position: sticky;
    top: 0;
}

@keyframes titelOmhoog {
    to {
        transform: scale(50%);
        font-weight: 100;
        /* transform-origin: left top; */
    }
}

h2 {
    margin: 0;
    color: var(--titel-kleur);
}

/* om titel animatie te testen: */
main {
    display: flex;
    flex-direction: column;
}
img {
   width: 6em;
}