:root {
    --wit-achtergrond: #FFF8E7;
    --tekst-kleur: #4A5D23;

}

body {
    margin: 0em 0em 3em 0em;
    font-family: "clother", sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 12px;
    background-color: var(--wit-achtergrond);
}

header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
}

/* titel animatie */

h1 {
    margin: 0;
    font-family: "alphabet-soup-pro", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 6em;
    color: var(--tekst-kleur);

    animation-timeline: view();
	animation-name: titelOmhoog;
	animation-timing-function: ease-out;
	animation-fill-mode: both;
	animation-range: cover 55% exit 80%;

    position: sticky;
    top: 0;
}

@keyframes titelOmhoog {
    to {
        transform: scale(50%);
        font-weight: 100;
        /* transform-origin: left top; */
    }
}

h2 {
    margin: 0;
    color: var(--tekst-kleur);
}

/* gridding van rugzak en objecten */
main {
    display: grid;
    grid-template-columns: repeat(5, 1fr) ;
    grid-template-rows: repeat(6, 0.5fr) repeat(2, 1fr);
    transition: 2s ease;
}

/* om rugzak open/dicht te wisselen */
.hidden {
    visibility: hidden;
}

main > button:nth-of-type(1), main > button:nth-of-type(2){
    grid-area: 7 / 2 / 9 / 5;
}

button:nth-of-type(1) img, button:nth-of-type(2) img {
    height: 40vh;
    width: auto;
}

button:nth-of-type(2) {
    z-index: 2;
    anchor-name: --rugzak;
}

/* OBJECTEN */
/* positie halsband */
main > img:nth-of-type(1){
    width: 2.5em;
    grid-area: 6 / 2 / 7 / 3;
    anchor-name: --halsband;
}

/* positie theater */
main > img:nth-of-type(2){
    width: 2.5em;
    grid-area: 5 / 4 / 6 / 5;
    anchor-name: --theater;
}

/* positie discobal */
main > img:nth-of-type(3){
    width: 2.5em;
    grid-area: 4 / 3 / 5 / 4;
    anchor-name: --disco;
}

/* positie laptop */
main > img:nth-of-type(4){
    width: 2.5em;
    grid-area: 3 / 5 / 4 / 6;
    anchor-name: --laptop;
}
/* positie puzzel */
main > img:nth-of-type(5){
    width: 2.5em;
    grid-area: 3 / 2 / 4 / 3;
    anchor-name: --puzzel;
}

img + button img {
    height: auto;
    width: 22vw;
    max-width: 100px;
}

@media (min-width: 949px) {
    main {
        height: 100vh;
        grid-template-columns: repeat(10, 0.5fr);
        grid-template-rows: repeat(2, 1fr) repeat(6, 0.5fr) repeat(2, 1fr);
    }
    button:nth-of-type(1), button:nth-of-type(2){
        grid-area: 3 / 2 / 9 / 4;
    }
    main > img:nth-of-type(1){
        grid-area: 3 / 6 / 4 / 7;
    } 
    main > img:nth-of-type(2){
        grid-area: 4 / 8 / 5 / 9;
    } 
    main > img:nth-of-type(3){
        grid-area: 8 / 6 / 9 / 7;
    } 
    main > img:nth-of-type(4){
        grid-area: 7 / 9 / 8 / 10;
    } 
    main > img:nth-of-type(5){
        grid-area: 6 / 7 / 7 / 8;
    } 
}

/* anchor positioning */
button[data-class*='object'] {
    position: absolute;
    position-anchor: --rugzak;

    left:anchor(center);
	top:anchor(center);
    translate:-50% -50%;
    transition: .5s;

    z-index: 1;
}

button {
    &[data-done=object1] {
        position-anchor: --halsband;
    }
    &[data-done=object2] {
        position-anchor: --theater;
    }
    &[data-done=object3] {
        position-anchor: --disco;
    }
    &[data-done=object4] {
        position-anchor: --laptop;
    }
    &[data-done=object5] {
        position-anchor: --puzzel;
    }   
}

dialog {
    border: none;
    border-radius: 2em;

    text-align: center;
    color: var(--tekst-kleur);

    max-width: 40em;
}

dialog div{
    display: flex;
    text-align: left;
    align-items: center;
}

dialog img {
    width: 8em;
}

dialog button {
    text-align: center;
    background-color: var(--tekst-kleur);
    padding: 1em;
    border-radius: 0.6em;
    color: var(--wit-achtergrond);
}

dialog p {
    margin-left:1em;
}

dialog::backdrop {
    backdrop-filter: blur(3px);
}


