:root {
    color-scheme: light dark;
    --achtergrond:light-dark(#FFF8E7, #3D2B1F);
    --tekst-kleur: light-dark(#4A5D23, #FFF8E7);

}

body {
    margin: 0em 0em 3em 0em;
    font-family: "clother", sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 12px;
    background-color: var(--achtergrond);

    height:200vh;
}

header {
    view-timeline-name: --header;

    display: grid;
    place-items: center;

    position: sticky;
    top: 0;

    z-index: 3;

    margin-top:calc(50vh - 3.8em);

    container-name: sticky-heading;
    container-type: scroll-state;
}


.inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main {
    position: absolute;
    left:0;
    right:0;
    top:100vh;
    height:100vh;
}

button {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
}

/* MARK: Titel animatie 
*/

h1, h3 {
    color: var(--tekst-kleur);
    margin: 0;
    font-family: "alphabet-soup-pro", sans-serif;
    font-weight: 500;
    font-style: normal;
}

h1 {
    font-size: 6em;
    span {
        display: inline-block;
        animation-name: titelAnimatie;
        animation-timeline: --header;
        animation-range: entry 70svh entry 110svh;
        animation-fill-mode: both;
        --translate-x: -10vw;
        &:nth-child(2) {
            --translate-x: 45vw;
        }
    }
}

@keyframes titelAnimatie {
    40% {
        transform: translateX(var(--translate-x))
    }
}

@container sticky-heading scroll-state(stuck: top) {
    h1{
			transform: translateX(calc(-50vw + 80px)) scale(0.5);
			transition: transform 0.5s ease-out;
		}
	h2 {
			opacity: 0;
            transition: transform 0.5s ease-in;
		}
}

h2 {
    margin: 0;
    color: var(--tekst-kleur);
}

/* is dit nodig? */
h1 {
    transition: transform 0.5s ease-out
}


/* MARK: Gridding van rugzak en objecten 
*/
.voorwerpen-section {
    display: grid;
    grid-template-columns: repeat(5, 1fr) ;
    grid-template-rows: repeat(6, 0.5fr) repeat(2, 1fr);
    transition: 2s ease;
}

/* MARK: rugzak open/dicht
*/
.hidden {
    visibility: hidden;
}

.voorwerpen-section > button:nth-of-type(1), .voorwerpen-section > button:nth-of-type(2){
    grid-area: 7 / 2 / 9 / 5;
}

button:nth-of-type(1) img, button:nth-of-type(2) img {
    height: 40vh;
    width: auto;
}

button:nth-of-type(2) {
    z-index: 2;
    anchor-name: --rugzak;
}

/* MARK: OBJECTEN 
*/
/* positie halsband */
.voorwerpen-section > img:nth-of-type(1){
    width: 2.5em;
    grid-area: 6 / 2 / 7 / 3;
    anchor-name: --halsband;
}

/* positie theater */
.voorwerpen-section > img:nth-of-type(2){
    width: 2.5em;
    grid-area: 5 / 5 / 6 / 6;
    anchor-name: --theater;
}

/* positie discobal */
.voorwerpen-section > img:nth-of-type(3){
    width: 2.5em;
    grid-area: 4 / 3 / 5 / 4;
    anchor-name: --disco;
}

/* positie laptop */
.voorwerpen-section > img:nth-of-type(4){
    width: 2.5em;
    grid-area: 3 / 5 / 4 / 6;
    anchor-name: --laptop;
}
/* positie puzzel */
.voorwerpen-section > img:nth-of-type(5){
    width: 2.5em;
    grid-area: 3 / 2 / 4 / 3;
    anchor-name: --puzzel;
}

/* positie popjes */
.voorwerpen-section > img:nth-of-type(6){
    width: 2.5em;
    grid-area: 6 / 4 / 7 / 5;
    anchor-name: --popje;
}

img + button img {
    height: auto;
    width: 22vw;
    max-width: 100px;
}

@media (min-width: 949px) {
    .voorwerpen-section {
        height: 100vh;
        grid-template-columns: repeat(10, 0.5fr);
        grid-template-rows: repeat(2, 1fr) repeat(6, 0.5fr) repeat(2, 1fr);
    }
    .voorwerpen-section > button:nth-of-type(1), .voorwerpen-section > button:nth-of-type(2){
        grid-area: 3 / 2 / 9 / 4;
    }
    .voorwerpen-section > img:nth-of-type(1){
        grid-area: 3 / 6 / 4 / 7;
    } 
    .voorwerpen-section > img:nth-of-type(2){
        grid-area: 3 / 8 / 4 / 9;
    } 
    .voorwerpen-section > img:nth-of-type(3){
        grid-area: 7 / 6 / 8 / 7;
    } 
    .voorwerpen-section > img:nth-of-type(4){
        grid-area: 8 / 9 / 9 / 10;
    } 
    .voorwerpen-section > img:nth-of-type(5){
        grid-area: 5 / 7 / 6 / 8;
    } 
    .voorwerpen-section > img:nth-of-type(6){
        grid-area: 5 / 9 / 6 / 10;
    } 
}

/* MARK: anchor positioning
*/
button[data-class*='object']{
    position: absolute;
    position-anchor: --rugzak;

    left:anchor(center);
	top:anchor(center);
    translate:-50% -50%;
    transition: .5s;

    z-index: 1;
}

button {
    &[data-done=object1] {
        position-anchor: --halsband;
    }
    &[data-done=object2] {
        position-anchor: --theater;
    }
    &[data-done=object3] {
        position-anchor: --disco;
    }
    &[data-done=object4] {
        position-anchor: --laptop;
    }
    &[data-done=object5] {
        position-anchor: --puzzel;
    }
    &[data-done=object6] {
        position-anchor: --popje;
    }
}

/* MARK: dialogs
*/
dialog {
    border: none;
    border-radius: 2em;

    text-align: center;
    color: var(--tekst-kleur);

    max-width: 40em;
}

dialog div{
    display: flex;
    text-align: left;
    align-items: center;
}

dialog:last-of-type div {
    display: flex;
    text-align: left;
    align-items: center;
    flex-wrap: wrap;
    p {
        width: auto;
    }
}

dialog img {
    width: 8em;
}

dialog button {
    text-align: center;
    background-color: var(--tekst-kleur);
    padding: 1em;
    border-radius: 0.6em;
    color: var(--achtergrond);
}

dialog p {
    margin-left:1em;
}

dialog::backdrop {
    backdrop-filter: blur(3px);
}


